body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;     /* Centraliza na vertical */
    background-color: red;
}

main{
    display: flex;
    flex-direction: column;  /* Um embaixo do outro */
    align-items: center;     /* Centraliza os itens */
    gap: 20px;

    width: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

#numbers,
#divResult{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

#bottons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}